//khai báo những biến dùng trong project. Ví dụ: màu sắc, kích thước,...
$color-primary: #2dbb54;
$color-secondary: #ffffff;
$color-gray: #303030;
$color-gray-light: #50514c;
$color-gray-light-1: #a29e94;
$color-tertiary: #d6d6d6;
$color-black: #000;
$color-yellowBrown: #da8501;
$color-red: #c33123;
$color-green: #469d0a;
$color-red-left: #ff0000;
// Tone color characters
$toneYellow: #ebd546;
$tonePink: #ff8290;
$toneGreen: #7dbf11;

//Search
$width-box-search: 24rem;
